:root {
  --color-primary: #73000A;
  --color-secondary: #7F7F7F;
}

@tailwind base;

a:hover {
  @apply underline;
}


@tailwind components;

@tailwind utilities;

 html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
  }



 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */
 @import "components/forms.scss";
 @import "components/tables.scss";
 @import "components/tooltips.scss";

 .card {
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   border-radius: 5px;
   background: #fff;
 }

 .card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }



 .blue-gradient {
   background-image:
           radial-gradient(blue, navy);
 }

 .red-gradient {
   background-image:
           radial-gradient(red, darkred);
 }

 .green-gradient {
   background-image:
           radial-gradient(#329932, darkgreen);
 }

 .purple-gradient {
   background-image:
           radial-gradient(purple, indigo);
 }

 .orange-gradient {
   background-image:
           radial-gradient(#fda50f, #fd6a02);
 }

 .grey-gradient {
   background-image:
           radial-gradient(#474747, #adadad);
 }

 .gradient-line {
   padding: 0;
   height: 2px;
   background: #73000A; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left, #73000A, white); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(right, #73000A, white); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(right, #73000A, white); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to right, #73000A, white); /* Standard syntax */
 }

 .primary-line {
   height: 2px;
   background: #73000A;
 }

 .secondary-line {
   padding: 0;
   height: 1px;
   background: #adadad;
 }

.carbon-fiber {
  background:
          linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
          linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
          linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
          linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
          linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
          linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

.crimson-carbon-fiber {
  background:
          linear-gradient(27deg, #4c0007 5px, transparent 5px) 0 5px,
          linear-gradient(207deg, #4c0007 5px, transparent 5px) 10px 0px,
          linear-gradient(27deg, #73000a 5px, transparent 5px) 0px 10px,
          linear-gradient(207deg, #73000a 5px, transparent 5px) 10px 5px,
          linear-gradient(90deg, #5f0008 10px, transparent 10px),
          linear-gradient(#5f0008 25%, #5f0008 25%, #5f0008 50%, transparent 50%, transparent 75%, #73000a 75%, #73000a);
  background-color: #4c0007;
  background-size: 20px 20px;
}

 .mobile-banner {
   background-image: url('/images/LonghornLogo.svg') ;
   background-size: 100px 80px;
   background-position: center;
   background-repeat: no-repeat;
 }

 .our-team-menu {
   background-image: url('/images/AlexAndNick.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
 }

.our-results-menu {
  background-image: url('/images/Reilly.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.our-events-menu {
    background-image: url('/images/ColinChapmanMilton.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.boys-state-2018 {
    background-image: url('/images/2018BoysStateTeam.jpg');
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
  }

.girls-trophy {
    background-image: url('/images/GirlsTrophy.jpg');
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
}



