.table-container {
    border-bottom: 2px solid #000000;
  }
  
  .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding: .5rem;
  }
  
  .table-row {
    display: flex;
    align-items: center;
    // padding-left: .5rem;
    width: 100%;
    padding: .5rem .65rem .5rem .5rem;
  }